body {
    /* background-image: url("images/pegasus-keyframe-3.png"); */
    background-image: url("images/Bloch_sphere.svg");
    /* background-repeat: repeat; */
    background-position: center;
    background-size: 50%;
}

.center {
    width: 80%;
    height: 100%;
    padding-top: 5px;
    margin: auto auto auto auto;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    opacity: 0.95;
    z-index: 1;
    display:block;
    overflow: auto;

    text-align: center;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-variant: normal;
}

.problem-description {
    border: 0;
    width: 90%;
    height: 100%;
}
